.nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.burger:hover {
  opacity: 0.7;
}

.menu {
  display: block;
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
  overflow: hidden;
}

.menuClosed {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}

.menuOpen {
  display: block;
  visibility: visible;
  opacity: 1;
  max-height: 200px;
}

.logoImage {
  width: 113.33px;
  height: 17px;
  color: #181818;
}

.menuList {
  padding: 18px 0 10px 0;
  list-style: none;
}

.menuItem {
  padding: 5px 0;
  margin-bottom: 16px;
}

.menuLink {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
