.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #ffffff;
  font-size: 16px;
  background: rgba(28, 28, 28, 0.8);
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #ff6b6b;
  font-size: 16px;
  background: rgba(28, 28, 28, 0.8);
  gap: 10px;
}

.retryButton {
  background: #1ed760;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.retryButton:hover {
  background: #1db954;
}

.barContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.barPlayerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
  position: relative;
}

.progressBar {
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.progressBar::-webkit-slider-runnable-track {
  height: 5px;
  background: #2e2e2e;
  border-radius: 0;
}

.progressBar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #1a1a1a;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3.5px;
}

.progressBar::-moz-range-track {
  height: 5px;
  background: #2e2e2e;
  border-radius: 0;
  border: none;
}

.progressBar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #1a1a1a;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.barPlayerBlock {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.barPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.barVolumeBlock {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 92px 0 0;
}

.playerControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.playerBtnPrev,
.playerBtnPlay,
.playerBtnNext,
.playerBtnRepeat,
.playerBtnShuffle {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playerBtnPrev {
  margin-right: 23px;
}

.playerBtnPrevSvg {
  width: 15px;
  height: 14px;
}

.playerBtnPlay {
  margin-right: 23px;
}

.playerBtnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.playerBtnNext {
  margin-right: 28px;
  fill: #a53939;
}

.playerBtnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.playerBtnRepeat {
  margin-right: 24px;
}

.playerBtnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.repeatIndicator {
  position: absolute;
  top: -2px;
  right: -2px;
  background: #1ed760;
  color: #000000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}

.playerBtnShuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playerBtnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.playerTrackPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.trackPlayContain {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image author' 'image album';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trackPlayImage {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
  grid-row: 1;
  -ms-grid-row-span: 2;
  grid-column: 1;
  grid-area: image;
}

.trackPlaySvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.trackPlayAuthor {
  grid-row: 1;
  grid-column: 2;
  grid-area: author;
  min-width: 49px;
}

.trackPlayAuthorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.trackPlayAlbum {
  grid-row: 2;
  grid-column: 2;
  grid-area: album;
  min-width: 49px;
}

.trackPlayAlbumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.trackPlayLikeDis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 26%;
}

.trackPlayLike,
.trackPlayDislike {
  padding: 5px;
}

.trackPlayLikeSvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.trackPlayDislike {
  margin-left: 28.5px;
}

.trackPlayDislikeSvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.volumeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volumeProgressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volumeProgressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}

.volumeProgressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: -7px;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btnIcon:active .trackPlayLikeSvg,
.btnIcon:active .trackPlayDislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

/* Активные состояния для кнопок */
.active .playerBtnRepeatSvg,
.active .playerBtnShuffleSvg {
  fill: #ffffff;
  stroke: #ffffff;
}

/* Стили для кнопок */
.playerBtnPrev,
.playerBtnPlay,
.playerBtnNext,
.playerBtnRepeat,
.playerBtnShuffle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
}

.playerBtnPrev:disabled,
.playerBtnPlay:disabled,
.playerBtnNext:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.playerBtnPrev:hover:not(:disabled),
.playerBtnPlay:hover:not(:disabled),
.playerBtnNext:hover:not(:disabled) {
  opacity: 0.8;
}
